<section>
  <button class='samitaWS-registrationForm-open' data-id='OTkzMQ=='>Open form</button>
</section>
{% schema %}
{
  "name": "B2B Application",
  "settings": [],
  "presets": [
    {
      "name": "B2B Application",
      "category": "Custom"
    }
  ]
}
{% endschema %}
