{% schema %}
{
  "name": "New Section",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}

<section {{ section.shopify_attributes }}>
  <div class='container'>
    <h1>New Section</h1>
  </div>
</section>
